body {
    margin: 0;
    text-transform: uppercase;
}

hr {
    margin: 0;
}

.parent {
    margin: 0 25% 0 25%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.main {
    height: 100px;
    display: flex;
    background: orange;
}

.center {
    width: 70%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 35px;
}

.fouded {
    margin: 0;
    font-size: 15px;
}

.left {
    width: 15%;
    margin-left: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.all {
    font-size: 13px;
    font-weight: bold;
}

.right {
    margin-right: 25px;
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
}

button {
    height: 35px;
    width: 70px;
    border-radius: 20px;
    border: 3px solid white;
    background: orange;
    font-size: 10px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;

}

.parent2 {
    margin: 0 10% 0 10%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.policy, .home {
    color: darkred;
}
