.bigBlock {
    display: flex;
    height: 495px;
    width: 700px;
    background: black;
    flex-wrap: wrap;
    padding: 5px;
}

.long {
    align-self: flex-start;
    width: 700px;
    height: 70px;
    background: orange;
}

.first {
    height: 355px;
    width: 160px;
    background: red;
}

.second {
    height: 355px;
    width: 190px;
    background: #03C03C;
}

.third {
    height: 355px;
    width: 200px;
    background: dodgerblue;
}

.fourth {
    height: 355px;
    width: 140px;
    background: black;
}

.long2 {
    align-self: flex-end;
    width: 700px;
    height: 70px;
    background: orange;
}
