.bigBlock {
    background: black;
    width: 700px;
    height: 500px;
}

.long {
    margin-left: 5px;
    width: 690px;
    height: 70px;
    background: orange;
    float: left;
}

.first {
    margin-left: 5px;
    height: 355px;
    width: 160px;
    background: red;
    float: left;
}

.second {
    margin-top: -5px;
    height: 360px;
    width: 190px;
    background: #03C03C;
    float: left;
}

.third {
    height: 355px;
    width: 200px;
    background: dodgerblue;
    float: left;
}

.fourth {
    height: 355px;
    width: 140px;
    background: black;
    float: left;
}

.long2 {
    margin-left: 5px;
    width: 690px;
    height: 70px;
    background: orange;
    float: left;
}

