.bigBlock {
    background: black;
    width: 700px;
    padding: 5px;
}

.long {
    height: 70px;
    background: orange;
}

.first {
    height: 355px;
    width: 160px;
    background: red;
    float: left;
}

.second {
    height: 355px;
    width: 190px;
    background: #03C03C;
    float: left;
}

.third {
    height: 355px;
    width: 200px;
    background: dodgerblue;
    float: left;
}

.fourth {
    height: 355px;
    width: 140px;
    background: black;
    float: left;
}

.long2 {
    height: 70px;
    background: orange;
    clear: both;
}

